
.cookieConsentBanner {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--clr-dark-orange);
    box-shadow: 0 0 10px 3px var(--clr-orange);
    position: fixed;
    width: clamp(300px, 90vw, 750px);
    top: 50%;
    left: 50%;
    z-index: 10;
}

@media (width < 768px) {
    .cookieConsentBanner {
        width: 100vw;
        top: auto;
        left: auto;
        position: absolute;
    }
} 

.policy-information {
    background-color: var(--background-color-badges);
    padding: 3rem;
}

.accept-policy-container {
    background-color: var(--clr-dark-orange);
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
}

.policy-checkboxes {
    display: flex;
    gap: 1.5rem;
    justify-content: space-around;
    flex-wrap: wrap;
}

    .policy-checkboxes div {
        display: flex;
        gap: 0.5rem;
        align-items: center;
    }

    .policy-checkboxes label {
        font-size: 1.1rem;
        font-weight: 600;
    }

    .policy-checkboxes input {
        width: 1.3rem;
        height: 1.3rem;
        accent-color: var(--clr-accent);
    }

#cookieConsent ::deep a {
    text-decoration: none;
    color: var(--clr-dark-blue);
    font-size: 1.1rem;
    font-weight: var(--font-weight-semibold);
}


#cookieConsent .accept-policy {
    border: none;
    padding: 0.3rem 1rem;
    border-radius: 8px;
    background-color: var(--clr-dark-green);
    color: white;
    min-width: 170px;
    margin-top: 3rem;
}

#showCookieConsentBtn {
    position: fixed;
    bottom: 10px;
    left: 10px;
    transition: all 0.5s ease-out;
}

    #showCookieConsentBtn i {
        font-size: 2rem;
        color: var(--clr-darker-orange);
    }

    #showCookieConsentBtn:hover {
        transform: rotate(90deg);
        cursor: pointer;
    }
