
@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var cookieString = consentFeature?.CreateConsentCookie();
}

<div id="cookieConsent" class="cookieConsentBanner">
    <p>This website only use cookies that are needed for the website to function properly, <a asp-page="/Privacy">Learn More</a></p>
    <div class="accept-policy-container">


        <div>
            <label>Essential</label>
            <input  type="checkbox" checked disabled />
        </div>

        <div>
            <label>Functional</label>
            <input type="checkbox" id="cookieFunctional" />
        </div>

        <button type="button" class="accept-policy close" data-cookie-string="@cookieString">
            <span aria-hidden="true">Accept</span>
        </button>
    </div>
</div>


<div id="showCookieConsentBtn">
    <i class="bi bi-cookie"></i>
</div>
