@model string


<div class="member-card">
    <div class="menu">
        <button class="menu-btn"><i class="bi bi-three-dots"></i></button>
    </div>

    <div class="avatar-container">
        <img class="avatar" src="./images/avatarLarge.png" />
    </div>

    <h4>@Model</h4>

    <p class="title">Chief Executive Officer</p>

    <p class="contact">hans@domain.com</p>
    <p class="contact">+46 070-123 45 78</p>

    <div class="msg-btn-container">
        <button class="btn btn-grey">Message</button>
    </div>
</div>

