
<div class="sidemenu-container">
    <a href="/" class="logo">
        <img src="~/images/Logo.png" />
        <span>alpha</span>
    </a>
    <nav class="sidemenu-nav">
        <a class="nav-link @(Context.Request.Path == "/" ? "active" : "")" asp-controller="Projects" asp-action="Index">
            <i class="bi bi-briefcase-fill"></i> 
            <span>Projects</span>
        </a>

        @if (User.IsInRole("Administrator"))
        {
            <a class="nav-link @(Context.Request.Path == "/members" ? "active" : "")" asp-controller="Members" asp-action="Index">
                <i class="bi bi-people-fill"></i> 
                <span>Team Members</span>
            </a>

            <a class="nav-link @(Context.Request.Path == "/roles" ? "active" : "")" asp-controller="Roles" asp-action="Index">
                <i class="bi bi-people-fill"></i>
                <span>Roles</span>
            </a>
        }        
    </nav>
</div>
