
.sidemenu-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
}

    .logo > span {
        font-family: Comfortaa;
        font-size: 1.7rem;
        font-weight: 700;
        color: var(--text-color);
    }

::deep img {
    width: 32px;
}

.sidemenu-nav {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

    ::deep .nav-link {
        padding: 1rem;
        border-radius: 16px;

        display: flex;
        align-content: center;
        gap: 0.7rem;

        color: var(--text-color);
    }

    ::deep .sidemenu-nav a:hover {
        background-color: var(--clr-accent);
        color: white;
        text-decoration: underline;
    }

    ::deep .sidemenu-nav .active {
        background-color: var(--clr-accent-10);
        color: var(--clr-accent);
    }

@media (width < 900px) {
    .sidemenu-container .logo span {
        display: none;
    }

    .sidemenu-container .nav-link span {
        display: none;
    }
}
