@model UserDto

@{

}






    <div class="col-md-6">
        <label asp-for="FirstName" class="col-form-label"></label>
        <input asp-for="FirstName" class="form-control" placeholder="Enter First Name" autocomplete="off" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>

    <div class="col-md-6">
        <label asp-for="LastName" class="col-form-label"></label>
        <input asp-for="LastName" class="form-control" placeholder="Enter Last Name" />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>

    <div class="col-lg-6">
        <label asp-for="Email" class="col-form-label"></label>
        <input asp-for="Email" class="form-control" placeholder="Enter Email" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="col-lg-6">
        <label asp-for="PhoneNumber" class="col-form-label"></label>
        <input asp-for="PhoneNumber" class="form-control" placeholder="Enter Phone Number" />
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
    </div>

    <div class="col-md-6">
        <label asp-for="RoleName" class="col-form-label"></label>
        <input asp-for="RoleName" class="form-control" />
    </div>

    <div class="col-md-6">
        <label asp-for="BirthDate" class="col-form-label"></label>
        <input asp-for="BirthDate" type="date" class="form-control" />
    </div>

    <div class="col-md-4">
        <label asp-for="Address" class="col-form-label"></label>
        <input asp-for="Address" class="form-control" />
    </div>

    <div class="col-md-4">
        <label asp-for="City" class="col-form-label"></label>
        <input asp-for="City" class="form-control" />
    </div>

    <div class="col-md-4">
        <label asp-for="PostalCode" class="col-form-label"></label>
        <input asp-for="PostalCode" class="form-control" />
    </div>

@await Html.PartialAsync("_ValidationScripts")
