@model ConfirmDeleteModel



<div class="modal not-validate fade" id="confirmDeleteModal_@Model.Id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body p-4">

                <div class="d-flex justify-content-between mb-4">
                    <h3 class="modal-title fs-5"><i class="bi bi-trash"></i></h3>
                    <button type="button" class="btn-modal-close" data-bs-dismiss="modal" aria-label="Close"><i class="bi bi-x-lg"></i></button>
                </div>
                <p>@Model.Message</p>

                <form class="row g-3" novalidate method="post" asp-controller="@Model.Controller" asp-action="@Model.Action" asp-route-id="@Model.Id" >
                    <button class="btn btn-red mt-4" type="submit">Delete</button>
                </form>
                
            </div>
        </div>
    </div>
</div>