.tr {
    display: flex;
    justify-content: space-between;
    padding-block: 1rem;
}

    .tr.header {
        font-size: 1.2rem;
        font-weight: 600;
        border-bottom: 1px solid var(--border-color);
        margin-bottom: 2rem;
    }

.jobtitle-container .tr.content:nth-child(even) {
    background-color: var(--background-color-badges);
    border-radius: 16px;
}

.table-options {
    display: flex;
    gap: 1rem;
}



.option-item {
    display: inline-block;
}

    .option-item i {
        font-size: 1.1rem;
    }

    .option-item.delete i {
        color: var(--clr-dark-red);
    }



.table-options ::deep .disabled {
    pointer-events: none;
}

    .table-options ::deep .disabled i {
        color: dimgray;
    }
