.jobtitle-container {
    background-color: var(--background-color-cards);
    border-radius: 16px;
    padding: 2rem;
}

.tr {
    display: flex;
    justify-content: space-between;
    padding-block: 1rem;
}

    .tr.header {
        font-size: 1.2rem;
        font-weight: 600;
        border-bottom: 1px solid var(--border-color);
        margin-bottom: 2rem;
    }
