@model AddMemberToProjectFormModel

@{
}


<div class="modal fade" id="addMemberToProjectModal_@Model.ProjectId" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="max-width: 550px;">
            <div class="modal-body p-4">

                <div class="d-flex justify-content-between mb-4">
                    <h3 class="modal-title fs-5">Add Members</h3>
                    <button type="button" class="btn-modal-close" data-bs-dismiss="modal" aria-label="Close"><i class="bi bi-x-lg"></i></button>
                </div> 

                <form class="row g-3" novalidate method="post" asp-controller="Projects" asp-action="UpdateProjectMembers" enctype="multipart/form-data">
                    <div class="form-group">
                        <label class="control-label">Select Members</label>
                        <div class="user-selection-container">
                            <select asp-for="MemberIds" id="memberSelect_@Model.ProjectId" asp-items="@ViewBag.Users" class="memberSelectDropdown"></select>
                        </div>
                    </div>
                    <input type="hidden" name="ProjectId" value="@Model.ProjectId" />
                    <button type="submit" class="btn btn-blue mt-4">Add Members</button>
                </form>
                
            </div>
        </div>
    </div>
</div>


<script>
    document.addEventListener('DOMContentLoaded', function() {
        new TomSelect(document.querySelector("#memberSelect_@Model.ProjectId"), {
            plugins: ['remove_button'],
            placeholder: 'Search and select members...',
            persist: false,
            maxItems: 3,
            items: @Html.Raw(Json.Serialize(Model.Project.Users.Select(u => u.Id.ToString()))),
            load: function(query, callback) {
                callback();
            }
        });        
    })  
</script>

