@model ProjectDto

@{

}

<div class="modal fade" id="addProjectModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" >
        <div class="modal-content" style="max-width: 550px;">
            <div class="modal-body p-4">

                <div class="d-flex justify-content-between mb-4">
                    <h3 class="modal-title fs-5" id="exampleModalLabel">New Project</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <form class="row g-3" novalidate method="post" asp-controller="Projects" asp-action="Add" enctype="multipart/form-data">
                    @await Html.PartialAsync("_ProjectForm", Model)
                    <button type="submit" class="btn btn-blue mt-4">Save Project</button>
                </form>

            </div>
        </div>
    </div>
</div>
