.project-card {
    background-color: var(--background-color-cards);
    width: 350px;
    height: 275px;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    border-radius: 16px;
    box-shadow: 0px 20px 30px -18px rgba(4, 15, 21, 0.10);
    cursor: pointer;
    transition: transform 0.1s, box-shadow 0.1s;
}

@media (width < 500px) {
    .project-card {
        width: 100%;
    }
}

    .project-card:hover {
        transform: translateY(-2px);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }




    .project-card header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;
    }

        .project-card header .title {
            display: flex;
            gap: 1em;
            align-items: center;
        }

            .project-card header .title ::deep .project-avatar {
                width: 56px;
                height: 56px;
                border-radius: 10px;
            }

            .project-card header .title p {
                color: var(--text-color-light);
                font-size: 0.9rem;
            }

        .project-card header .menu {
            cursor: default;
        }

        .project-card header .menu .menu-btn {
            padding: 0.3rem 0.4rem;
            border: none;
            background-color: transparent;
            color: var(--text-color-light);
            font-size: 1.4rem;
            font-weight: var(--font-weight-semibold);
        }




    .project-card .project-description {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100%;
    }




    .project-card footer {
        margin-top: auto;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

        .project-card footer .timeframe {
            display: flex;
            gap: 0.3rem;
            align-items: center;
            padding: 0.5em 1em;
            border-radius: 8px;
            font-size: 0.9em;
        }

            

.timeframe.pending {
    background-color: var(--clr-dark-100-10);
    color: var(--clr-dark-100);
}

.timeframe.active {
    background-color: var(--clr-accent-10);
    color: var(--clr-dark-accent);
}

.timeframe.closed {
    background-color: var(--clr-green-15);
    color: var(--clr-dark-green)
}

.timeframe.warning {
    background-color: var(--clr-red-15);
    color: var(--clr-dark-red);
}

.project-card footer .members {
    display: flex;
    gap: 0.5rem;
}

    .project-card footer .members ::deep img {
        display: block;
        width: 35px;
        aspect-ratio: 1;
        border-radius: 50%;
    }