@model ProjectFormViewModel

@{
    // string avatar = Model.Avatar != string.Empty ? $"project_avatars/{Model.Avatar}" : string.Empty;
    ViewBag.ProjectDescription = Model.Description;
}

<input asp-for="Id" hidden />
<input asp-for="Avatar" hidden />
<input asp-for="DateCreated" hidden />


<div class="image-preview-container">
    @if (Model.Avatar == null)
    {
        <div id="circle-container" class="image-preview-border">
            <div class="circle circle-gray">
                <i class="bi bi-camera"></i>
            </div>
        </div>
        <img src="#" id="image-preview" alt="avatar image preview" class="d-none" />
        <input asp-for="File" hidden accept="image/*" />
    }
    else
    {
        <div id="circle-container" class="image-preview-border d-none">
            <div class="circle circle-gray">
                <i class="bi bi-camera"></i>
            </div>
        </div>
        <img src="~/images/Projects_Avatars/@Model.Avatar" id="image-preview" alt="avatar image preview" class="" />
        <input asp-for="File" hidden accept="image/*" />
    }
</div>



<div class="col-md-12 form-group">
    <label asp-for="Name" ></label>
    <input asp-for="Name" class="form-control" autocomplete="off" />
    <span asp-validation-for="Name" class="text-danger"></span>
</div>

<div class="col-md-12 form-group">
    <label asp-for="CustomerId" ></label>
    <select asp-for="CustomerId" asp-items="@ViewBag.Customers" class="form-control">
        <option value="" disabled selected>-- Select a Customer --</option>
    </select>
    <span asp-validation-for="CustomerId" class="text-danger"></span>
</div>

<div class="col-md-12 form-group">
    <label asp-for="Description"></label>
    <input asp-for="Description" id="descriptionInput__@Model.Id" hidden />
    <div class="quill-wrapper">
        <div id = "quillEditor__@Model.Id" class = "quill-editor"></div>
        <div id = "quillToolbar__@Model.Id" class = "quill-toolbar">
            <span class="ql-formats">
                <button class="ql-bold" aria-pressed="false" aria-label=""></button>
                <button class="ql-italic" aria-pressed="false" aria-label=""></button>
                <button class="ql-underline" aria-pressed="false" aria-label=""></button>
            </span>
            <span class="ql-formats">
                <button class="ql-align" value="" aria-pressed="false" aria-label=""></button>
                <button class="ql-align" value="center" aria-pressed="false" aria-label=""></button>
                <button class="ql-align" value="right" aria-pressed="false" aria-label=""></button>
            </span>
            <span class="ql-formats">
                <button class="ql-list" value="bullet" aria-pressed="false" aria-label=""></button>
                <button class="ql-list" value="ordered" aria-pressed="false" aria-label=""></button>
            </span>
            <span class="ql-formats">
                <button class="ql-link" aria-pressed="false" aria-label=""></button>
            </span>
        </div>
    </div>    
    <span asp-validation-for="Description" class="text-danger"></span>
</div>

<div class="form-group-horizontal">
    <div class="col-6 " >
        <label asp-for="StartDate" ></label>
        <div class="date-input-wrapper">
            <input asp-for="StartDate" class="form-control" type="date" />
            <i class="bi bi-calendar"></i>
        </div>
        <span asp-validation-for="StartDate" class="text-danger"></span>
    </div>

    <div class="col-6 date-input-wrapper">
        <label asp-for="EndDate" ></label>
        <div class="date-input-wrapper">
            <input asp-for="EndDate" class="form-control" type="date" />
            <i class="bi bi-calendar"></i>
        </div>
        <span asp-validation-for="EndDate" class="text-danger"></span>
    </div>
</div>

<div class="form-group">
    <label class="control-label">Select Members</label>
    <div class="user-selection-container">
        <select asp-for="MemberIds" id="memberSelect__@Model.Id" asp-items="@ViewBag.Users" class="memberSelectDropdown"></select>
    </div>
</div>

<div class="col-md-12 form-group">
    <label asp-for="Budget" ></label>
    <input asp-for="Budget" class="form-control" />
    <span asp-validation-for="Budget" class="text-danger"></span>
</div>




@await Html.PartialAsync("_ValidationScripts")

<script>
    document.addEventListener('DOMContentLoaded', function() {

        // Things i tried with TomSelect.
        // TomSelect will not init items from asp-items!!
        // items: SNABEL_A Html.Raw(Json.Serialize(Model.Project.Users.Select(u => u.Id.ToString()))),
        new TomSelect(document.querySelector("#memberSelect__@Model.Id"), {
            plugins: ['remove_button'],
            placeholder: 'Search and select members...',
            persist: false,
            maxItems: 3,
            items: @Html.Raw(Json.Serialize(Model.MemberIds)),
            load: function(query, callback) {
                callback();
            }
        });

        quillJsInit(
            '#quillEditor__@Model.Id',
            '#quillToolbar__@Model.Id',
            '@Html.Raw(ViewBag.ProjectDescription ?? "")', 
            '#descriptionInput__@Model.Id')

            

    })    
</script>
