@model ProjectFormViewModel

@{
    // string avatar = Model.Avatar != string.Empty ? $"project_avatars/{Model.Avatar}" : string.Empty;

}

<input asp-for="Id" hidden />
<input asp-for="Avatar" hidden />


<div class="image-preview-container">
    @if (Model.Avatar == null)
    {
        <div id="circle-container" class="image-preview-border">
            <div class="circle circle-gray">
                <i class="bi bi-camera"></i>
            </div>
        </div>
        <img src="#" id="image-preview" alt="avatar image preview" class="d-none" />
        <input asp-for="File" hidden accept="image/*" />
    }
    else
    {
        <div id="circle-container" class="image-preview-border d-none">
            <div class="circle circle-gray">
                <i class="bi bi-camera"></i>
            </div>
        </div>
        <img src="~/images/Projects_Avatars/@Model.Avatar" id="image-preview" alt="avatar image preview" class="" />
        <input asp-for="File" hidden accept="image/*" />
    }
</div>



<div class="col-md-12 form-group">
    <label asp-for="Name" ></label>
    <input asp-for="Name" class="form-control" autocomplete="off" />
    <span asp-validation-for="Name" class="text-danger"></span>
</div>

<div class="col-md-12 form-group">
    <label asp-for="CustomerId" ></label>
    <select asp-for="CustomerId" asp-items="@ViewBag.Customers" class="form-control">
        <option value="" disabled selected>-- Select a Customer --</option>
    </select>
    <span asp-validation-for="CustomerId" class="text-danger"></span>
</div>


@*
    Working on the Descrition Text Area, i have tried TinyMce and QuillJS
    things to try:
    Summernote
    CKEditor
*@
<div class="col-md-12 form-group">
    <label asp-for="Description"></label>
    <input asp-for="Description" class="form-control" autocomplete="off" />
    <span asp-validation-for="Description" class="text-danger"></span>
</div>

@* <div class="col-md-12 form-group">
    <label asp-for="Description"></label>
    <textarea asp-for="Description" id="richTextArea" class="form-control"></textarea>
    <span asp-validation-for="Description" class="text-danger"></span>
</div> *@


@* <div class="col-md-12 form-group">
    <label asp-for="Description"></label>

    <div class="quill-wrapper">
        <div id="quill-editor"></div>
    </div>

    <input type="hidden" asp-for="Description" id="description-input" />
    <span asp-validation-for="Description" class="text-danger"></span>
</div> *@






<div class="form-group-horizontal">
    <div class="col-6 date-input-wrapper" >
        <label asp-for="StartDate" ></label>
        <input asp-for="StartDate" class="form-control" type="date" />
        <i class="bi bi-calendar"></i>
        <span asp-validation-for="StartDate" class="text-danger"></span>
    </div>

    <div class="col-6 date-input-wrapper">
        <label asp-for="EndDate" ></label>
        <input asp-for="EndDate" class="form-control" type="date" />
        <i class="bi bi-calendar"></i>
        <span asp-validation-for="EndDate" class="text-danger"></span>
    </div>
</div>

@* <div class="col-md-12 form-group">
    <label asp-for="StatusId"></label>
    <select asp-for="StatusId" asp-items="@ViewBag.Statuses" class="form-control">
        <option value="" disabled selected>-- Select a Status --</option>
    </select>
    <span asp-validation-for="StatusId" class="text-danger"></span>
</div> *@

<div class="col-md-12 form-group">
    <label asp-for="Budget" ></label>
    <input asp-for="Budget" class="form-control" />
    <span asp-validation-for="Budget" class="text-danger"></span>
</div>


@* <script src="https://cdn.tiny.cloud/1/lbjm2n85x08rdztajc4zpp79wy8v7sdj55r8xdkzrgwcypfe/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
<script src="~/js/richTextArea.js" asp-append-version="true" /> *@

@* <script src="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.js" ></script>
<script src="~/js/quillEditor.js" defer></script> *@


@await Html.PartialAsync("_ValidationScripts")



