@model ProjectsViewModel

@{
    ViewData["Title"] = "Projects";
}

@if (User.IsInRole("Trainee"))
{
    <h4>Contact your Administrator to get access to projects ...</h4>
}
else
{
    <partial name="_AddProjectModal" model="@Model.projectDto" />

    <section class="section-projects">
        <div class="d-flex justify-content-between mb-5">
            <h1>Projects</h1>
            <button class="btn btn-blue" data-bs-toggle="modal" data-bs-target="#addProjectModal">Add Project</button>
        </div>
        
        <div class="project-sort-menu-container">
            <div class="project-sort-menu">
                <a href="#" class="filter-link active" data-status="ALL">ALL [@ViewBag.CountAll]</a>
                <a href="#" class="filter-link" data-status="Pending">PENDING [@ViewBag.CountPending]</a>
                <a href="#" class="filter-link" data-status="Active">STARTED [@ViewBag.CountStarted]</a>
                <a href="#" class="filter-link" data-status="Closed">COMPLETED [@ViewBag.CountCompleted]</a>
            </div> 
        </div>

        <div id="projects-container">
            <partial name="_ProjectList" model="@Model.Projects" />
        </div>
    </section>
}

<script>
document.addEventListener('DOMContentLoaded', function() {
    const filterLinks = document.querySelectorAll('.filter-link');
    const projectCards = document.querySelectorAll('.project-card');

    filterLinks.forEach(link => {
        link.addEventListener('click', function(e) {
            e.preventDefault();

            filterLinks.forEach(l => l.classList.remove('active'));
            this.classList.add('active');

            const status = this.getAttribute('data-status');
            console.log(status)
            
            projectCards.forEach(card => {
                const projectStatus = card.getAttribute('data-status');
                console.log(card.style.display)

                if (status === 'ALL' || status === projectStatus) {
                    card.style.display = '';
                }
                else {
                    card.style.display = 'none';
                }
            });

        });
    });
});
</script>






