@using Ui.Asp.Mvc.Models.Account
@model ChangePasswordFormModel

@{
    string err = ViewBag.ErrorMessage ?? string.Empty;
}

<h2>Change Password</h2>

<form class="account-form" novalidate method="post" asp-action="UpdatePassword" asp-controller="Account">
    <input asp-for="Id" hidden />

    <div class="form-group">
        <label asp-for="OldPassword"></label>
        <input asp-for="OldPassword" class="form-control" autocomplete="off" />
        <span asp-validation-for="OldPassword" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="NewPassword"></label>
        <input asp-for="NewPassword" class="form-control" autocomplete="off" />
        <span asp-validation-for="NewPassword" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmNewPassword"></label>
        <input asp-for="ConfirmNewPassword" class="form-control" autocomplete="off" />
        <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-blue mt-4">Update Password</button>
</form>

