h2 {
    font-size: 1.4rem;
    margin-block: 2rem;
}

.horizontal {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

    .input-group ::deep input {
        width: 100%;
        border-radius: 16px;
    }

button {
    width: 100%;
}