@using Ui.Asp.Mvc.Models.Account
@model AccountViewModel

@{

}

<div class="account-management-form-container">
    <partial name="_EditProfileForm" model="@Model.MemberForm" />
    <hr />
    @if (string.IsNullOrEmpty(ViewBag.ExternalProvider))
    {
        <partial name="_ChangePasswordForm" model="@Model.ChangePasswordForm" />
    }
</div>


<script>
        document.addEventListener("DOMContentLoaded", () => {
        const forms = document.querySelectorAll("form");
        if (forms.length === 0) return;

        forms.forEach(form => {
            const fields = form.querySelectorAll("input[data-val='true']");
            console.log(fields.length)
            fields.forEach(field => {
                field.addEventListener("input", () => {

                    validateField(field);
                })
            })
        })
    })

    function validateField(field) {
        let errorSpan = document.querySelector(`span[data-valmsg-for='${field.name}']`);
        if (!errorSpan) return;

        let errorMsg = "";
        let value = field.value.trim();

        if (field.hasAttribute("data-val-required") && value === "") {
            errorMsg = field.getAttribute("data-val-required");
        }

        if (value === "<p></p>") {
            errorMsg = field.getAttribute("data-val-required");
        }

        if (field.hasAttribute("data-val-regex") && value !== "") {
            let pattern = new RegExp(field.getAttribute("data-val-regex-pattern"))
            if (!pattern.test(value)) {
                errorMsg = field.getAttribute("data-val-regex")
            }
        }

        if (errorMsg) {
            field.classList.add("input-validation-error");
            errorSpan.classList.remove("field-validation-valid");
            errorSpan.classList.add("field-validation-error");
            errorSpan.textContent = errorMsg;
        } else {
            field.classList.remove("input-validation-error");
            errorSpan.classList.remove("field-validation-error");
            errorSpan.classList.add("field-validation-valid");
            errorSpan.textContent = "";
        }
    }
</script>

