@{
    var externalProvider = User.FindFirstValue(ClaimTypes.AuthenticationMethod);
}

<div>
    <h1>Account Management</h1>
     @if (string.IsNullOrEmpty(externalProvider))
    {
        <h6>You are using a Local Account</h6>
    }
    else
    {
        <h6>You are loged in with: @externalProvider</h6>
    }

    <div>
        <ul>
            @foreach (var claim in User.Claims)
            {
                <li>@claim.Type : @claim.Value : @claim.ValueType</li>
            }
        </ul>
    </div>
</div>
