.section-account-management {
    padding: 3rem 4rem;
    max-width: 900px;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.section-account-management header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-account-management header h1 {
    margin: 0;
    margin-bottom: 1rem;
    text-align: left;
}

.section-account-management img {
    width: 150px;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 50%;
}

    .section-account-management header p {
        display: flex;
        gap: 0.7rem;
        margin-top: 0.5rem;
    }

.accountpage-titles {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}

.accountpage-titles p {
    padding: 3px 15px;
    background-color: var(--clr-purple-15);
    color: var(--clr-dark-purple);
    border-radius: 16px;
    font-size: 0.9rem;

    display: flex;
    gap: 0.5rem;
}

.account-management-buttons {
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
}

    .account-management-buttons ::deep form {
        flex: 1;
    }

    .account-management-buttons form ::deep button,
    .account-management-buttons > button {
        flex: 1;
    }

::deep .btn {
    width: 100%;
}

@media (width < 900px) {
    .section-account-management {
        padding: 2rem 1rem;
    }

        .section-account-management img {
            width: 100px;
        }
}
