
h2.success {
    text-align: center;
    font-size: 1.4rem;
    background-color: var(--clr-green-15);
    padding: 1rem 0.5rem;
    border-radius: 16px;
    color: var(--clr-dark-green);
    margin-bottom: 2rem;
}

h2.fail {
    text-align: center;
    font-size: 1.4rem;
    background-color: var(--clr-red-15);
    padding: 1rem 0.5rem;
    border-radius: 16px;
    color: var(--clr-dark-red);
    margin-bottom: 2rem;
}

.surface {
    padding-bottom: 3rem;
}
