@model PasswordResetRequestForm

@{
    Layout = "_AuthLayout";

}
<div class="surface">

    @if (ViewBag.EmailSent == null)
    {
        <h1>Reset Password</h1>
    }
    else if (ViewBag.EmailSent == true)
    {
        <h2 class="success">Email has been sent</h2>
    }
    else
    {
        <h2 class="fail">Email failed to be sent</h2>
    }


    <form class="form-container" novalidate method="post" asp-controller="Account" asp-action="RequestPasswordReset">
        <div class="form-group">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control" placeholder="Enter Your Email" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ConfirmEmail"></label>
            <input asp-for="ConfirmEmail" class="form-control" placeholder="Enter Your Email" />
            <span asp-validation-for="ConfirmEmail" class="text-danger"></span>
        </div>

        <div class="form-group">
            <button type="submit" id="btnRegisterAccount" class="btn btn-blue">Send Link</button>
        </div>
    </form>
</div>

@await Html.PartialAsync("_ValidationScripts")

