@model PasswordResetForm

@{
    Layout = "_AuthLayout";

}

<div class="surface">
    <form class="form-container" novalidate method="post" asp-controller="Account" asp-action="ResetPassword">
        <input asp-for="Id" hidden />
        <input asp-for="Code" hidden />

        <div class="form-group">
            <label asp-for="Password"></label>
            <input asp-for="Password" class="form-control" placeholder="New Password" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ConfirmPassword"></label>
            <input asp-for="ConfirmPassword" class="form-control" placeholder="Repeat new Password" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>

        <div class="form-group">
            <button type="submit" id="btnRegisterAccount" class="btn btn-blue">Reset Password</button>
        </div>
    </form>
</div>

@await Html.PartialAsync("_ValidationScripts")
