Yes, you can use ASP.NET MVC helpers to bind checkboxes to your list of IDs more elegantly. Here's how you can refactor your code using the EditorFor or CheckBoxFor helpers:
cshtmlCopy@model UserSelectionViewModel

@using (Html.BeginForm())
{
    <div class="form-group">
        <label class="control-label">Select Users</label>
        
        <div class="user-selection-container">
            @for (int i = 0; i < Model.Users.Count; i++)
            {
                var user = Model.Users[i];
                var isChecked = Model.SelectedUserIds != null && Model.SelectedUserIds.Contains(user.Id);
                
                <div class="form-check mb-2">
                    @Html.CheckBox("SelectedUserIds", isChecked, new { 
                        value = user.Id,
                        id = $"user-{user.Id}",
                        @class = "form-check-input"
                    })
                    
                    <label class="form-check-label" for="user-@user.Id">
                        @user.Name
                    </label>
                </div>
            }
        </div>
    </div>
    
    <div class="mt-3">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
}

@for (int i = 0; i < Model.Users.Count; i++)
{
    var user = Model.Users[i];
    var isChecked = Model.SelectedUserIds != null && Model.SelectedUserIds.Contains(user.Id);
    
    <div class="form-check mb-2">
        @Html.Hidden($"Users[{i}].Id", user.Id)
        @Html.Hidden($"Users[{i}].Name", user.Name)
        @Html.CheckBox($"Users[{i}].IsSelected", isChecked, new { 
            id = $"user-{user.Id}",
            @class = "form-check-input"
        })
        
        <label class="form-check-label" for="user-@user.Id">
            @user.Name
        </label>
    </div>
}


<form class="row g-3" novalidate method="post" asp-controller="Projects" asp-action="AddMemberToProject" enctype="multipart/form-data">
    <div class="form-group">
        <label class="control-label">Select Members</label>
        <div class="user-selection-container">
            @foreach (var user in (List<SelectListItem>)ViewBag.Users)
            {
                <div class="form-check mb-2">
                    <input type="checkbox"
                           class="form-check-input"
                           id="user-@user.Value"
                           name="MemberIds"
                           value="@user.Value"
                           @(user.Selected ? "checked" : "") />
                    <label class="form-check-label" for="user-@user.Value">
                        @Html.Raw(user.Text)
                    </label>
                </div>
            }
        </div>
    </div>
    <input type="hidden" name="ProjectId" value="@Model.ProjectId" />
    <button type="submit" class="btn btn-blue mt-4">Add Members</button>
</form>