@model CustomerFormViewModel

@{
}

<div class="modal fade" id="addCustomerModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="max-width: 550px;">
            <div class="modal-body p-4">

                <div class="d-flex justify-content-between mb-4">
                    <h3 class="modal-title fs-5" id="exampleModalLabel">New Customer</h3>
                    <button type="button" class="btn-modal-close" data-bs-dismiss="modal" aria-label="Close"><i class="bi bi-x-lg"></i></button>
                </div>

                <form class="row g-3" novalidate method="post" asp-controller="Projects" asp-action="Add" enctype="multipart/form-data">
                    @await Html.PartialAsync("_CustomerForm", Model)
                    <button type="submit" class="btn btn-blue mt-4">Save Customer</button>
                </form>

            </div>
        </div>
    </div>
</div>
