@model CustomersViewModel
@{
    ViewData["Title"] = "Customers";


}

<partial name="_AddCustomerModal" model="@Model.Form" />

<section class="section-customers">
    <div class="d-flex justify-content-between mb-5">
        <h1>@ViewData["Title"]</h1>
        @if (User.IsInRole("Administrator") || User.IsInRole("Manager"))
        {
            <button class="btn btn-blue" data-bs-toggle="modal" data-bs-target="#addCustomerModal">Add Customer</button>
        }
    </div>

    <div class="customers-container">
        <div class="tr header">
            <p>Name</p>
            <p>Email</p>
            <p><i class="bi bi-gear"></i></p>
        </div>

        @foreach (var customer in Model.customers)
        {
            <partial name="_CustomerTableRow" model="customer" />   
        }
    </div>
</section>

