.image-preview-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

    .image-preview-container .image-preview-border {
        border: 1px dashed var(--text-color-light);
        padding: 3rem;
        border-radius: 16px;
        cursor: pointer;
    }

    .image-preview-container .circle {
        background-color: grey;
        height: 40px;
        width: 40px;
        padding: 0.5rem;
        border-radius: 50%;
        font-size: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

        .image-preview-container .circle i {
            color: white;
        }


    .image-preview-container ::deep img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        object-fit: cover;
        cursor: pointer;
    }


.date-input-wrapper {
    position: relative;
}

    

    .date-input-wrapper .bi-calendar {
        position: absolute;
        right: 40px;
        top: 33px;
        pointer-events: none;
        color: var(--text-color-light);
    }