@model IEnumerable<User>

@{
    ViewData["Title"] = "Members";
}

<div class="d-flex justify-content-between mb-5">
    <h1>Members...</h1>
    <button class="btn btn-blue" data-bs-toggle="modal" data-bs-target="#ModalAdminAddMember">Add Member</button>
</div>


<div class="member-card-container">
    @foreach (var user in Model)
    {
        @await Html.PartialAsync("Partials/_MemberCard", user)
    }
</div>


<div class="modal fade" id="ModalAdminAddMember" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="surface-l">
            @await Html.PartialAsync("Partials/_UserForm", new UserDto())

                
            

        </div>
    </div>
</div>