@model MembersViewModel

@{
    ViewData["Title"] = "Members";
}

<partial name="_AddMemberModal" model="@Model.form" />

<div class="d-flex justify-content-between mb-5">
    <h1>@ViewData["Title"]</h1>
    @if (User.IsInRole("Administrator"))
    {
        <button class="btn btn-blue" data-bs-toggle="modal" data-bs-target="#addMemberModal">Add Member</button>
    }
</div>


<div class="member-card-container">
    @foreach (var user in Model.Members)
    {
        @await Html.PartialAsync("_MemberCard", user)
    }
</div>


